# Application
NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:4200

# Database PostgreSQL (update with your credentials)
DATABASE_URL="postgresql://caruser:carpassword@localhost:5432/car_rental_db?schema=public"

# JWT
JWT_SECRET=your_super_secret_jwt_min_32_chars_long
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_SECRET=your_refresh_secret_different_min_32_chars
JWT_REFRESH_EXPIRES=7d

# Email SMTP
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your_email@gmail.com
MAIL_PASSWORD=your_app_password_gmail
MAIL_FROM="Car Rental <noreply@youragency.tn>"

# Stripe
STRIPE_PUBLIC_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# Paymee
PAYMEE_VENDOR_TOKEN=your_vendor_token_paymee
PAYMEE_API_URL=https://app.paymee.tn/api/v2
PAYMEE_WEBHOOK_SECRET=your_secret_hmac_paymee

# Upload files
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=5242880  # 5MB

# Redis (Cache)
REDIS_HOST=localhost
REDIS_PORT=6379

# URLs
API_URL=http://localhost:3000
APP_URL=http://localhost:4200